<head>
    <title>
        Greeting
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<ul class='nav justify-content-center'>
    <li class='nav-item'>
        <a class='nav-link active' href="/">Home</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/roll-dice">Roll the Die</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/animal-shelter-project">Animal Shelter Project</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/my-first-form">Form Practice</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href='/ham-or-spam-input'>Ham or Spam Model</a>
    </li>
</ul>
<h1>{{ greeting }}</h1>