<!-- inside of my-first-form.html -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<ul class='nav justify-content-center'>
    <li class='nav-item'>
        <a class='nav-link active' href="/">Home</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/roll-dice">Roll the Die</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/animal-shelter-project">Animal Shelter Project</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href="/my-first-form">Form Practice</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link active' href='/ham-or-spam-input'>Ham or Spam Model</a>
    </li>
</ul>
<h2>Please fill out this form:</h2>
<form action="/make-greeting" method="POST">
    <form-group>
        <label for="title">Preferred Title</label>
        <input class='form-control' id="title" type="text" name="title">
    </form-group>
    <br />
    <for-group>
        <label for="name">Your Name</label>
        <input class='form-control' id="name" type="text" name="name">
    </for-group>
    <input class='btn-primary form-control' type="submit">
</form>